/* ====================================================== */
/* Page Layout */
/* ====================================================== */

 html,body { height:100% }

 #patternMain { 
    magin: 0px;
    padding: 0px;
    background: #747474;
 }

 #patternMainContents { 
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "helvetica"; 
  background: #747474 url(http://homepages.ecs.vuw.ac.nz/~djp/images/back.gif) top center;
  background-repeat: repeat-y;
 }  

 #container {
  margin: 0px auto;
  padding: 0px;
  width: 1024px;
  text-align: left;
  border: 1px solid black;
  background: #ffffff;
  min-height: 100%;
 } 

 #header {
  margin: 0px;
  padding: 10px;
  font-family: 'Bree Serif', Georgia, serif;
  height: 60px;
  max-height: 60px;
  background-color: #1b6987;
 }		 

 #header h1 { 
     margin: 0px; 
     font-size: 24pt; 
     font-weight: bold;
     color: #f3fafd;
 } 

 #header h2 { 
     margin: 0px; 
     font-size: 16pt; 
     color: #c4dce5;
 } 

 #content {
     margin-left: auto;
     margin-right: 2em;
     margin-top: 0;
     padding: 1em 1em 1em 1em;
     font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
     font-size: 11pt;
 } 
 
#content h1 { 
    margin: 0 0 20 0; 
    font-size: 16pt; 
    font-weight: normal; 
    color: #1b6987;
    border-bottom: 1px solid #ccc;
}

