/* ====================================================== */
/* Page Layout */
/* ====================================================== */

 body { 
  margin: 0px;
  padding: 0px;
  font-family: "helvetica"; 
  background: #cccccc; 
 }  

 #header {
   width: 100%;
   background: #dddddd; 
   margin-bottom: 2em;
 }

 #menu {
  margin: 0px auto;
   padding: 0px;
   width: 1024px;
   text-align: left;   
 }

 #container {
  margin: 0px auto;
  padding: 0px;
  width: 1024px;
  text-align: left;
  border: 1px solid black;
  background: #ffffff; 
  box-shadow: 0 10px 10px #000;
 } 

 #content {
     margin-left: auto;
     margin-right: 2em;
     margin-top: 0;
     padding: 1em 1em 1em 1em;
     font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
     font-size: 11pt;
 } 
 
#content h1 { 
    margin: 0 0 20 0; 
    font-size: 16pt; 
    font-weight: normal; 
    color: #1b6987;
    border-bottom: 1px solid #ccc;
}

#console {
     font-family: "Courier New", Courier, monospace;
     width: 100%;
     height: 100px;
     margin: 20px 0px 0px 0px;
}

#compile {
    font-size: 11pt;
}

#compiling {
    vertical-align:middle;
    margin: 1px;
    visibility:hidden;
}