






grant {
  permission java.lang.RuntimePermission "shutdownHooks";
  permission java.lang.RuntimePermission "accessClassInPackage.*";
  permission java.util.PropertyPermission "user.dir", "read";  
  permission java.util.PropertyPermission "user.home", "read";  

  permission java.io.FilePermission "java/lang/-", "read";
  permission java.io.FilePermission "/", "read";
  permission java.io.FilePermission "/am", "read";
  permission java.io.FilePermission "/am/paramount", "read";
  permission java.io.FilePermission "/am/paramount/vol", "read";
  permission java.io.FilePermission "/am/paramount/vol/submit", "read";
  permission java.io.FilePermission "/am/paramount/vol/submit/comp471_2007T2", "read";
  permission java.io.FilePermission "/am/paramount/vol/submit/comp471_2007T2/-", "read";
  permission java.io.FilePermission "/am/paramount/vol/mcs","read";
  permission java.io.FilePermission "/am/paramount/vol/mcs/courses","read";
  permission java.io.FilePermission "/am/paramount/vol/mcs/courses/COMP471","read";
  permission java.io.FilePermission "/am/paramount/vol/mcs/courses/COMP471/2007T2-prvt","read";
  permission java.io.FilePermission "/am/paramount/vol/mcs/courses/COMP471/2007T2-prvt/projects","read";
  permission java.io.FilePermission "/am/paramount/vol/mcs/courses/COMP471/2007T2-prvt/projects/p2-bc-verification","read";
  permission java.io.FilePermission "/am/paramount/vol/mcs/courses/COMP471/2007T2-prvt/projects/p2-bc-verification/benchmarks","read";
  permission java.io.FilePermission "/am/paramount/vol/mcs/courses/COMP471/2007T2-prvt/projects/p2-bc-verification/benchmarks/-","read";
};
